In [1]:
import numpy as np
import pandas as pd 
# df = pd.read_csv("/home/maksim/Data/Author_Death/data.csv",  dtype='unicode')

In [456]:
df = df.astype({'sale_date':"string", 'Price':float, 'Author':"string", 'Art':"string", 'Owner':"string", 'Sign':bool, 'Technique':"string",
       'Material':"string", 'Nazi':bool, 'Framed':bool, 'Size':"string", 'square_m':float, 'Currency':"string",
       'EstimateFrom': float, 'EstimateTo':float, 'ExhibitedNum': int, 'ProvenanceNum':int,
       'LiteratureNum': int, 'CataloguingLength': float, 'Time':"string", 'City':"string", 'Description':"string",
       'tried_url':"string", 'Image':"string", 'date_of_birth':"string", 'date_of_death':float, 'century':int,
       'nationality':"string", 'sex':"string", 'style':"string", 'repeat_sale':bool, 'feature1':"string", 'feature2':"string",
       'number_of_day':int, 'day_of_week':"string", 'month':int, 'year':int, 'deal_time_.utc.':"string",
       'normalized_price':float, 'hasFollowers':bool, 'hasAfter':bool, 'mannerOf':bool, 'circleOf':bool,
       'isUntitled':bool, 'isNumbered':bool, 'normalized_estimatefrom':float,
       'normalized_estimateto':float, 'Auction':"string"})
df = df.drop_duplicates(subset=['Author', 'Art'])
df = df.set_index(['Author', 'Art'])
df = df.drop(columns=['sale_date', 'Price', 'EstimateFrom', 'EstimateTo', 'Time', 'City', 
                 'Description', 'tried_url', 'Image', 'month', 'year', 'deal_time_.utc.', 
                 'normalized_estimatefrom', 'normalized_estimateto','Size','number_of_day', 'day_of_week'], axis = 1)
df['Owner'] = df['Owner'].isna() == False

In [442]:
# author_features = ['date_of_birth', 'date_of_death', 'century',
#        'nationality', 'sex', 'feature1', 'feature2',  'hasFollowers', 'hasAfter', 'mannerOf', 'circleOf']

# art_features = ['Owner', 'Sign', 'Technique', 'Material', 'Nazi', 'Framed', 'square_m',
#        'Currency', 'ExhibitedNum', 'ProvenanceNum', 'LiteratureNum',
#        'CataloguingLength', 'style', 'repeat_sale',  'isUntitled', 'isNumbered', 'Auction']
# target = 'normalized_price'

In [2]:
df = pd.read_pickle("/home/maksim/Data/Author_Death/cleaned_data.pkl")

In [4]:
!conda list scikit

# packages in environment at /home/maksim/miniconda3/envs/author_death:
#
# Name                    Version                   Build  Channel
scikit-learn              1.1.0           py310hffb9edd_0    conda-forge

In [555]:

# def tryconvert(x):
#     try:
#         return float(x)
#     except ValueError:
#         return None
# df["date_of_birth"] = df["date_of_birth"].apply(lambda x: tryconvert(x))

In [573]:
!conda update conda

PackageNotInstalledError: Package is not installed in prefix.
  prefix: /home/maksim/miniconda3/envs/author_death
  package name: conda

In [124]:
from sklearn.impute import SimpleImputer
col = ['Technique', 'Material', 'Currency', 'nationality', 'sex', 'style', 'feature1', 'feature2', 'Auction']
imp = SimpleImputer(strategy='most_frequent')
df = df.replace({pd.NA: np.nan})
# df = df.replace(to_replace=pd.NA, value=None)
imp.fit_transform()

array([[False, True, 'oil', ..., True, True, "Sotheby's"],
       [False, True, 'oil', ..., True, True, "Sotheby's"],
       [False, True, 'oil', ..., True, True, "Sotheby's"],
       ...,
       [True, True, 'oil', ..., True, True, 'Phillips'],
       [True, True, 'oil', ..., True, True, 'Phillips'],
       [True, True, 'pen', ..., True, True, 'Phillips']], dtype=object)

In [109]:
df[['Technique']][3565:].apply(lambda x: pd.isnull(x))

                                                                        Technique
Author               Art
gino severini        FLEURS ET MASQUES. LONDON: FREDERICK ETCHELLS ...       True
                     GENDARMES PONTIFICAUX                                  False
                     L'AUTOBUS                                              False
                     LA TERRASSE D'UN CAFE DE MONTMARTRE                    False
                     LES ARLEQUINS (MELONI 24)                              False
...                                                                           ...
jean-michel basquiat Untitled (Origin of Cotton)                            False
                     Untitled (Jail)                                        False
                     Untitled (House with S and Baseball)                   False
                     Three Kinds of Fences                                  False
                     Astronaut                                              False

[24400 rows x 1 columns]

In [501]:
df[['Technique', 'Material', 'Currency', 'nationality', 'sex', 'style', 'feature1', 'feature2', 'Auction']]

                                                           Technique Material  \
Author               Art
willem de kooning    UNTITLED (WOMAN)                            oil    paper
                     UNTITLED (STILL LIFE)                       oil    board
georgia o'keeffe     UNTITLED (ALLIGATOR PEAR IN RED DISH)       oil   canvas
franz kline          UNTITLED                                    oil   canvas
georgia o'keeffe     UNTITLED (APPLE AND WHITE DISH)             oil    panel
...                                                              ...      ...
jean-michel basquiat Untitled (Origin of Cotton)                 oil    paper
                     Untitled (Jail)                             oil    paper
                     Untitled (House with S and Baseball)        oil    paper
                     Three Kinds of Fences                       oil    paper
                     Astronaut                                   pen    paper

                                                           Currency  \
Author               Art
willem de kooning    UNTITLED (WOMAN)                           USD
                     UNTITLED (STILL LIFE)                      USD
georgia o'keeffe     UNTITLED (ALLIGATOR PEAR IN RED DISH)      USD
franz kline          UNTITLED                                   USD
georgia o'keeffe     UNTITLED (APPLE AND WHITE DISH)            USD
...                                                             ...
jean-michel basquiat Untitled (Origin of Cotton)                USD
                     Untitled (Jail)                            USD
                     Untitled (House with S and Baseball)       USD
                     Three Kinds of Fences                      USD
                     Astronaut                                  USD

                                                              nationality sex  \
Author               Art
willem de kooning    UNTITLED (WOMAN)                        Netherlander   M
                     UNTITLED (STILL LIFE)                   Netherlander   M
georgia o'keeffe     UNTITLED (ALLIGATOR PEAR IN RED DISH)       American   F
franz kline          UNTITLED                                    American   M
georgia o'keeffe     UNTITLED (APPLE AND WHITE DISH)             American   F
...                                                                   ...  ..
jean-michel basquiat Untitled (Origin of Cotton)            Afro-American   M
                     Untitled (Jail)                        Afro-American   M
                     Untitled (House with S and Baseball)   Afro-American   M
                     Three Kinds of Fences                  Afro-American   M
                     Astronaut                              Afro-American   M

                                                                             style  \
Author               Art
willem de kooning    UNTITLED (WOMAN)                       abstract expressionism
                     UNTITLED (STILL LIFE)                  abstract expressionism
georgia o'keeffe     UNTITLED (ALLIGATOR PEAR IN RED DISH)               modernism
franz kline          UNTITLED                               abstract expressionism
georgia o'keeffe     UNTITLED (APPLE AND WHITE DISH)                     modernism
...                                                                            ...
jean-michel basquiat Untitled (Origin of Cotton)                 neo-expressionism
                     Untitled (Jail)                             neo-expressionism
                     Untitled (House with S and Baseball)        neo-expressionism
                     Three Kinds of Fences                       neo-expressionism
                     Astronaut                                   neo-expressionism

                                                           feature1 feature2  \
Author               Art
willem de kooning    UNTITLED (WOMAN)                       migrant     <NA>
                     UNTITLED (STILL LIFE)                  migrant     <NA>
georgia o'keeffe     UNTITLED (ALLIGATOR PEAR IN RED DISH)     <NA>     <NA>
franz kline          UNTITLED                                  <NA>     <NA>
georgia o'keeffe     UNTITLED (APPLE AND WHITE DISH)           <NA>     <NA>
...                                                             ...      ...
jean-michel basquiat Untitled (Origin of Cotton)               <NA>     <NA>
                     Untitled (Jail)                           <NA>     <NA>
                     Untitled (House with S and Baseball)      <NA>     <NA>
                     Three Kinds of Fences                     <NA>     <NA>
                     Astronaut                                 <NA>     <NA>

                                                              Auction
Author               Art
willem de kooning    UNTITLED (WOMAN)                       Sotheby's
                     UNTITLED (STILL LIFE)                  Sotheby's
georgia o'keeffe     UNTITLED (ALLIGATOR PEAR IN RED DISH)  Sotheby's
franz kline          UNTITLED                               Sotheby's
georgia o'keeffe     UNTITLED (APPLE AND WHITE DISH)        Sotheby's
...                                                               ...
jean-michel basquiat Untitled (Origin of Cotton)             Phillips
                     Untitled (Jail)                         Phillips
                     Untitled (House with S and Baseball)    Phillips
                     Three Kinds of Fences                   Phillips
                     Astronaut                               Phillips

[27965 rows x 9 columns]

In [464]:
mean = df.normalized_price.mean()
df.normalized_price.apply(lambda x: mean if x < 10 else x)

Author                Art
willem de kooning     UNTITLED (WOMAN)                          91630.99
                      UNTITLED (STILL LIFE)                     91630.99
georgia o'keeffe      UNTITLED (ALLIGATOR PEAR IN RED DISH)    500000.00
franz kline           UNTITLED                                   8144.98
georgia o'keeffe      UNTITLED (APPLE AND WHITE DISH)          300000.00
                                                                 ...
jean-michel basquiat  Untitled (Origin of Cotton)               54872.21
                      Untitled (Jail)                          137180.50
                      Untitled (House with S and Baseball)      75449.29
                      Three Kinds of Fences                     41154.16
                      Astronaut                                 27436.11
Name: normalized_price, Length: 27965, dtype: float64

In [435]:
df_dummy = df.select_dtypes(include=['int', 'bool', 'float'])

for feature in ['Technique', 'Material', 'Currency', 'nationality', 'style', 'feature1', 'feature2','Auction']:
    new_dummy = pd.get_dummies(df[feature])
    df_dummy = pd.concat([df_dummy, new_dummy], axis = 1)
    if feature in author_features:
        author_features.remove(feature)
        author_features = author_features + new_dummy.columns.tolist()
    if feature in art_features:
        art_features.remove(feature)
        art_features = art_features + new_dummy.columns.tolist()

In [393]:
art_features

['Owner',
 'Sign',
 'Nazi',
 'Framed',
 'square_m',
 'ExhibitedNum',
 'ProvenanceNum',
 'LiteratureNum',
 'CataloguingLength',
 'repeat_sale',
 'isUntitled',
 'isNumbered',
 Index(['Sign', 'Nazi', 'Framed', 'square_m', 'ExhibitedNum', 'ProvenanceNum',
        'LiteratureNum', 'CataloguingLength', 'date_of_death', 'century',
        'repeat_sale', 'normalized_price', 'hasFollowers', 'hasAfter',
        'mannerOf', 'circleOf', 'isUntitled', 'isNumbered', 'hasOwner',
        'ismale', 'acrylic', 'aquatint', 'casein', 'chalk', 'charcoal',
        'crayon', 'drypoint', 'enamel', 'engraving', 'etching', 'gloss',
        'gouache', 'graphite', 'ink', 'lithograph', 'mixed media', 'oil',
        'pastel', 'pen', 'pencil', 'pigment', 'print', 'serigraph', 'tempera',
        'watercolor', 'woodcut', 'woven', 'board', 'canvas', 'card', 'gold',
        'lamina', 'linen', 'linoleum', 'masonite', 'panel', 'paper',
        'serigraph', 'silk', 'tapestry', 'tin', 'toile', 'volant', 'watercolor',
        'wood'],
       dtype='object'),
 Index(['Sign', 'Nazi', 'Framed', 'square_m', 'ExhibitedNum', 'ProvenanceNum',
        'LiteratureNum', 'CataloguingLength', 'date_of_death', 'century',
        'repeat_sale', 'normalized_price', 'hasFollowers', 'hasAfter',
        'mannerOf', 'circleOf', 'isUntitled', 'isNumbered', 'hasOwner',
        'ismale', 'acrylic', 'aquatint', 'casein', 'chalk', 'charcoal',
        'crayon', 'drypoint', 'enamel', 'engraving', 'etching', 'gloss',
        'gouache', 'graphite', 'ink', 'lithograph', 'mixed media', 'oil',
        'pastel', 'pen', 'pencil', 'pigment', 'print', 'serigraph', 'tempera',
        'watercolor', 'woodcut', 'woven', 'board', 'canvas', 'card', 'gold',
        'lamina', 'linen', 'linoleum', 'masonite', 'panel', 'paper',
        'serigraph', 'silk', 'tapestry', 'tin', 'toile', 'volant', 'watercolor',
        'wood', 'CHF', 'CNY', 'ESP', 'EUR', 'GBP', 'HKD', 'RMB', 'USD'],
       dtype='object'),
 Index(['Sign', 'Nazi', 'Framed', 'square_m', 'ExhibitedNum', 'ProvenanceNum',
        'LiteratureNum', 'CataloguingLength', 'date_of_death', 'century',
        ...
        'postconceptualism', 'pre-raphaelitism', 'realism', 'renaissance',
        'rococo', 'romanica', 'romanticism', 'surrealism', 'symbolism',
        'traditional chinese painting'],
       dtype='object', length=113),
 Index(['Sign', 'Nazi', 'Framed', 'square_m', 'ExhibitedNum', 'ProvenanceNum',
        'LiteratureNum', 'CataloguingLength', 'date_of_death', 'century',
        ...
        'renaissance', 'rococo', 'romanica', 'romanticism', 'surrealism',
        'symbolism', 'traditional chinese painting', 'Christie's', 'Phillips',
        'Sotheby's'],
       dtype='object', length=116)]

In [297]:
df_dummy

,Price,Sign,Nazi,Framed,Size,square_m,EstimateFrom,EstimateTo,ExhibitedNum,ProvenanceNum,...,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Christie's,Phillips,Sotheby's
0,93750.0,True,True,True,0.092541,0.0925,70000.0,90000.0,5,3,...,0,1,0,0,0,0,0,0,0,1
1,52500.0,True,True,True,0.060060,0.0601,70000.0,90000.0,3,6,...,0,1,0,0,0,0,0,0,0,1
2,740000.0,True,True,True,0.051613,0.0516,300000.0,500000.0,0,2,...,0,0,0,0,1,0,0,0,0,1
3,8125.0,True,True,True,0.114375,0.1144,6000.0,8000.0,1,2,...,0,1,0,0,0,0,0,0,0,1
4,40000.0,True,True,True,0.058968,0.0590,25000.0,35000.0,11,8,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35617,50000.0,True,True,True,0.274838,0.2748,50000.0,70000.0,3,5,...,1,0,0,0,0,0,0,0,1,0
35618,125000.0,True,True,True,0.274838,0.2748,120000.0,180000.0,3,5,...,1,0,0,0,0,0,0,0,1,0
35619,68750.0,True,True,True,0.049677,0.0497,30000.0,40000.0,0,3,...,1,0,0,0,0,0,0,0,1,0
35620,37500.0,True,True,True,0.274838,0.2748,50000.0,70000.0,3,5,...,1,0,0,0,0,0,0,0,1,0
35621,25000.0,True,True,True,0.057863,0.0579,20000.0,30000.0,0,2,...,1,0,0,0,0,0,0,0,1,0

In [ ]:
integers_or_fractions = "/(?:[1-9][0-9]*|0)(?:\/[1-9][0-9]*)?/g"

In [355]:
import re

def convert_to_float(frac_str):
    try:
        return float(frac_str)
    except ValueError:
        num, denom = frac_str.split('/')
        try:
            leading, num = num.split(' ')
            whole = float(leading)
        except ValueError:
            whole = 0
        frac = float(num) / float(denom)
        return whole - frac if whole < 0 else whole + frac
    
    
def get_size_m(s):
    try:
        s = s.replace(",",".")
        d = {"cm" : 0.01, "in": 0.0254, "mm": 0.001}
        h, _, w, unit = re.findall(r'(.*?)(x|by)(.*)(cm|in|mm)', s)[0]
        h = sum([convert_to_float(x) for x in h.split()]) * d[unit]
        w = sum([convert_to_float(x) for x in w.split()]) * d[unit]
        size = h * w
    except IndexError:
        return None
    except ValueError:
        return None
    return size

sz = df['Size'].apply(lambda x: get_size_m(x))

In [262]:
sizes  = ["32.7 by 28.3 cm", "10 by 8 in", "24 x 17 3/4 in"]
[re.findall(r'(.*?)(x|by)(.*)(cm|in|mm)', x) for x in sizes][2]

[('24 ', 'x', ' 17 3/4 ', 'in')]

In [286]:
df.columns

Index(['sale_date', 'Price', 'Author', 'Art', 'Owner', 'Sign', 'Technique',
       'Material', 'Nazi', 'Framed', 'Size', 'square_m', 'Currency',
       'EstimateFrom', 'EstimateTo', 'ExhibitedNum', 'ProvenanceNum',
       'LiteratureNum', 'CataloguingLength', 'Time', 'City', 'Description',
       'tried_url', 'Image', 'date_of_birth', 'date_of_death', 'century',
       'nationality', 'sex', 'style', 'repeat_sale', 'feature1', 'feature2',
       'number_of_day', 'day_of_week', 'month', 'year', 'deal_time_.utc.',
       'normalized_price', 'hasFollowers', 'hasAfter', 'mannerOf', 'circleOf',
       'isUntitled', 'isNumbered', 'normalized_estimatefrom',
       'normalized_estimateto', 'Auction', 'sale_date_seconds', 'hasOwner',
       'ismale'],
      dtype='object')

In [261]:
convert_to_float('17'.split()[0])

17.0

In [276]:
"32,32".replace(",",".")

'32.32'

In [271]:
h, _, w, unit = re.findall(r'(.*?)(x|by)(.*)(cm|in|mm)', sizes[0])[0]
unit

'cm'

In [255]:
convert_to_float('3/4 ')

0.75

In [267]:
re.findall(r'(.*?)(x|by)(.*)(cm|in|mm)', sizes[0])

[('32.7 ', 'by', ' 28.3 ', 'cm')]